
.favicon_creator_editor_section_colorStyle_item{
    display: none;
}

.favicon_creator_editor_section_colorStyle_item_selected{
    display: block;
}


.colorStyle_text_section{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.colorStyle_text_section:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.colorStyle_text_styles_container{
    display: flex;
}

.colorStyle_text_styles_item{
    width: 40px;
    height: 40px;
    border: 3px dashed #ddd;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorStyle_text_styles_item:hover, .colorStyle_text_styles_item_selected{
    border-color: #339af0;
}